
<!-- Footer -->
<footer class="white-section" id="footer">
  <div class="container-fluid redes">
    <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i>
    <%# <i class="social-icon fas fa-envelope"></i> %>
    <p>© Copyright 2020 Agouti</p>
  </div>
</footer>




<!-- script de aos -->

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<!-- SCRIPT DE video.js!!!!!! -->


</body>

</html>
