<%- include('partials/header') %>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/exito">Agouti</a>

  <form class="form-inline ml-auto">
    <a class="btn btn-info my-2 my-sm-0" type="" href="/perfil"> <i class="fas fa-user-md" ></i></a>  </form>
    <a class="btn btn-danger my-2 my-sm-0 boton-barra" href="/logout" role="button">Cerrar Sesión</a>

</nav>

<section id="logos-contenido">

  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4 col-12" data-aos="fade-up" data-aos-delay="300">
        <a href="/farmacologia"><i class="fas fa-prescription icon fa-4x"></i></a>
        <h3 class="feature-title">Farmacología</h3>
        <%# <p class="feature-text">Con el contenido más actualizado.</p> %>
      </div>

      <div class="feature-box col-lg-4 col-12" data-aos="fade-up" data-aos-delay="500">
        <i class="icon fas fa-teeth-open fa-4x"></i>
        <h3 class="feature-title">Anatomía</h3>
        <%# <p class="feature-text">Creemos en que un mejor aprendizaje requiere la información adecuada.</p> %>
      </div>

      <div class="feature-box col-lg-4 col-12" data-aos="fade-up" data-aos-delay="700">
        <i class="icon fas fa-running fa-4x"></i>
        <h3 class="feature-title">Fisiología</h3>
        <%# <p class="feature-text">El conocimiento, en un solo lugar.</p> %>
      </div>
    </div>


  </div>

</section>











<%- include('partials/footer') %>
