<%- include('partials/header')%>


<section class="" id="navbar">

  <!-- Nav Bar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/exito">Agouti</a>

    <form class="form-inline ml-auto">
      <a class="btn btn-info my-2 my-sm-0" type="" href="/perfil"> <i class="fas fa-user-md" style="color: #black"></i></a>  </form>
      <a class="btn btn-danger my-2 my-sm-0 boton-barra" href="/logout" role="button">Cerrar Sesión</a>

  </nav>

</section>


<!-- Title -->

<section id="title">
  <div class="row div-completo" data-aos="fade-right" data-aos-delay="200" data-aos-duration="300">

    <div class="col-lg-6 titulo-materia">
      <h1 class="big-heading titulo-materia-texto"><u>Farma</u>cología. <i class="fas fa-prescription icono-materia icon"></i></h1>
    </div>
    <div class="col-lg-6 fondo-materia">

    </div>

  </div>

</section>





<!-- PROGRESO -->

<br></br>
<section class="white-section seccion-progreso" id="features">

  <div class="" data-aos="fade-left" data-aos-delay="200" data-aos-duration="300">
    <div class="row progreso-div">

      <div class="col-lg-2 col-md-2 col-sm-2 col-2">

          <div class="contenido">
            <p class=""><b>1</b> sub-categoría</p>
            <p><b>50</b> videos disponibles </p>
          </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <div class="contenido">
          <p><b>8</b> lecciones en pdf</p>
          <p><b>23</b> hrs de contenido total</p>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <div class="contenido">
          <a><i class="fas fa-brain icon fa-4x icono-quiz-pagina-videos"></i></a>
          <p>¿Listo? <br />¡Quiz del módulo!</p>
        </div>
      </div>


      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <h1 class="progreso">Tu <b>progreso</b> en farmacología</h1>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">VIDEOS 25%</div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">LECTURAS 50%</div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">TOTAL 75%</div>
        </div>
      </div>

    </div>

  </div>

</section>


<!-- SECCION VIDEOS -->
<!-- <section>
  <div class="seccion-video">
    <div class="row videos">
      <div class="col-lg-4 ">
        <h3>El nombre del video</h1>

      </div>
      <div class="col-lg-4 ">
        <video class="videos-miniatura" src="../images/video1.mov" autoplay poster="posterimage.jpg">

        </video>
      </div>

    </div>
  </div>
</section> -->


<!-- collapsable -->

<h3 class="categorias" data-aos="fade-in">Categorías</h3 >

<section class="archivos" data-aos="fade-up" data-aos-duration="1000">



  <br />
  <div>
    <%# <button class="collapsible">Videos del tema.</button>
    <div class="content">
      <div class="row">
        <br></br>
        <div class="col-lg-6">
          <p class="titulo-videos">¿Qué es la farmacología?</p>
          <p class="subtitulo-videos">3:23 min.</p>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Referencias
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Guyton</a>
              <a class="dropdown-item" href="#">Harrison</a>
              <a class="dropdown-item" href="#">La Biblia</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <video class="videos-miniatura" src="../images/video1.mov" autoplay poster="posterimage.jpg">

          </video>
        </div>

      </div>

    </div> %>

    <%# <br></br>
    <!-- <p>Lecturas: </p> -->
    <br></br> %>
    <button class="collapsible"> <b>Sección I</b>. Fundamentos de la farmacología. <i class="fas fa-video" style="color:white"></i>  <i class="fas fa-file-pdf " style="color:white"></i>  <i class="far fa-clock " style="color:white"></i></button>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <button class="collapsible"><b>Sección II</b>. Fármacos más utilizados.</button>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <button class="collapsible"><b>Sección III</b>. Venta de fármacos en México.</button>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight) {
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    </script>
  </div>
  <!-- <p>Videos:</p> -->

</section>


<%- include('partials/footer') %>
